@font-face {
    font-family: 'Helvetica Neue Bold Condensed';
    src: url('fonts/helveticaneue-boldcond-webfont.eot');
    src: url('fonts/helveticaneue-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-boldcond-webfont.woff') format('woff'),
         url('fonts/helveticaneue-boldcond-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue-boldcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Import bourbon.io
@import 'bourbon';

// Import Susy
@import "susy"; 

// Define the ‘atmosphere’ of your design in this config file
@import "config";

// Choose between reset and normalise
//@import "partials/reset";
@import "partials/normalise";

// Sass mixins
@import "partials/mixins";

// Site-wide styles
@import "partials/site";



// Misc. HTML elements
@import "partials/elements";

// Atmosphere
@import "partials/typography";
@import "partials/colour";
@import "partials/texture";

// Utilities
// @import "modernizr";


// Configure which Sass partials, and therefore CSS,
// you want to include in your project. You don’t need to remove the
// references, nor delete the files from your project (you may need
// them later,) simply comment them out using // 

//@import "partials/bootstrap-accordion";
//@import "partials/bootstrap-alerts";
@import "partials/bootstrap-breadcrumbs";
//@import "partials/bootstrap-carousel";
//@import "partials/bootstrap-hero";
//@import "partials/bootstrap-media";
//@import "partials/bootstrap-modal";
//@import "partials/bootstrap-navs";
//@import "partials/bootstrap-navbar";
//@import "partials/bootstrap-pager";
@import "partials/bootstrap-pagination";
//@import "partials/bootstrap-popover";
//@import "partials/bootstrap-tables";
//@import "partials/bootstrap-tooltip";
//@import "partials/bootstrap-wells";
@import "partials/bootstrap-forms";
@import "partials/bootstrap-form-help";
@import "partials/bootstrap-form-horizontal";
@import "partials/bootstrap-form-search";
@import "partials/bootstrap-form-buttons";
//@import "partials/bootstrap-dropdowns";

// Font Awesome

//@import "partials/font-awesome/font-awesome.scss";


//@import "partials/table-rwd";

//Use flexslider instead of bootstrap carousel
@import "partials/flexslider";

// Choose a responsive navigation pattern, or add a brand new one
// @import "partials/navigation-toggle";
// @import "partials/navigation-footer-anchor";
// @import "partials/navigation-left-nav-flyout";
@import "partials/navigation-responsive-nav";
@import "partials/navigation-responsive-breadcrumb";


// WP Styles for common elements
@import "partials/wpimage-aligments";
@import "partials/wp-common-buttons.scss";
@import "partials/wp-blogandcomments.scss";

// Layout styles
@import "partials/layout";



// 2x
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
@import "partials/2x"; }

@media print {
@import "partials/print"; }