/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/

// Media query support required?
$media-queries-supported : false;

// Opacity support in IE required via the proprietry ActiveX?
$ie8-opacity-supported 	 : false;

// Import all SASS imports
@import 'imports';

// IE override styles can be defined here (use classes applied to 
// the HTML element as per the conditional comments to surround 
// your selectors and target specific IE versions, such as ".lte-ie8")

.container{
	width: $maxwidth;
}

.lte8 #navigation-toggle{
	max-height: none;
}