// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

[role="banner"] {
@include clearfix; }

#skip, .screen-reader-text{
	@include visuallyhidden;
}

.no-js-warning{
	background-color: #df0000;
	padding: 10px;
	color: white;
	display: block;
	a{
		color: yellow;
	}
}

#submit{
	@extend .btn;
}


input[type="submit"]{
	@extend .btn;
}

/*
.container{
	padding: 0 1em;
	@include mq($bp3){
		padding: 0 2em;
	}
}
*/
#content{
	  @include mq($bp3){
		  	  background: url('images/bg.png') repeat-y 0 0;
		  	  background: none, url('images/bg.svg') repeat-y -30% 0;

	  }

}

.container{
	@include container();
	max-width: $maxwidth;
	padding: 0 1em;

}

header.header{
	background-color: $primarycolor;
	@include clearfix;
	height: 48px;
	padding: 0.2em 0;
	color: black;
	@include mq($bp3){
		min-height: 88px;
	}
	a.h1{
		float: left;
		color: black;
		text-decoration: none;
		margin: 0.3em;
		@include font-size(24);
		&:hover{
			text-decoration: none;
		}
		@include mq($bp3){
			@include font-size(32);
			margin: 0.6em 1em;
		}
	}
	.description{
		float: left;
		margin-top: 1.5em;
		width: 200px;
		line-height: 1.2em;
		font-style: italic;
		@include font-size(14);
	}
	#searchform{
		@include span(3 of 12 last);
		@extend .m-hide;
		margin-top: 1.2em;
		#s{
			border-color: $neutralcolor;
		}
		
	}
}


.logo{
	float: left;
	width: 48px;
	height: 52px;
	svg{
		width: 100%;
		height: auto;
	}
	@include mq($bp3){
		width: 75px;
		height: 82px;
	}
}

.header-image{
	background-color: #222222;
	text-align: center;
	img{
		
		@include mq($bp6){
			width: 100%;
			max-width: 1650px;
		}
	}
}


#content{
	padding: 3em 0;
}


.page-sidebar{
	
	@include mq($bp4){
		@include span(6 of 12);
		@include pre(1 of 12);
	}
}

.page-full{
	@include span(full);
	@include break;
	@include clearfix;
}

aside.sidebar{
	
	@include mq($bp4){
		@include span(4 of 12 last);
		@include pre(1 of 12);
	}
	ul{
		list-style: none;
	}
}

.quick-link-buttons{
	display: block;
	@include span(2 of 4);
	background-color: $secondarycolor;
	color: white;
	padding: 0.5em;
	font-family: 'Helvetica Neue Bold Condensed', 'Arial Narrow', sans-serif;
	font-weight: 400;
	@include font-size(18);
	height: 105px;
	margin-bottom: 4%;
	position: relative;
	&:hover{
		background-color: $tertiarycolor;
		color: white;
		text-decoration: none;
	}
	&:visited{
		color: white;
	}
	&:after{
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 44px 44px;
		border-color: transparent transparent $primarycolor transparent;
	}
}

footer.footer{
	clear: both;
	@include clearfix;
	background-color: $primarycolor;
	color: $secondarycolor;
	a{
		color: $secondarycolor;
	}
}

.footer-phone{
	@include zero;
	//@include span(2 of 12 wide);
	float: left;
	@include pre(1 of 12 );
	@include font-size(14);

}

.footer-email{
	@include zero;
	@include span(3 of 12);
	@include font-size(14);
	line-height: 1.5em;
}

.footer-address{
	@include zero;
	@include span(6 of 12 last);
	@include font-size(14);
}
