/*  !WP Buttons ======================== */

#submit{
	@extend .btn;
}

input[type="submit"]{
	@extend .btn;
}

#searchform{
	position: relative;
	#searchsubmit{
		position: absolute;
		right: 10px;
		top: 20%;
		border: 0;
		background: url(images/search-icon.svg) no-repeat center center;
		font-size: 0;
		height: 22px;
		width: 22px;
		@include modernizr(no-svg){
			background: url(images/search-icon.png) no-repeat center center;
		}
		}
}

#nav-below{
	padding:1em;
	@include clearfix;
}

#nav-below a{
	@extend .btn;
}

#nav-below a[rel="next"]{
	float:right;
}

a.post-edit-link{
	@extend .btn;
	@extend .btn-primary;
	@extend .btn-mini;
	margin:1em;
	&:visited{
	color: $white;		
	}

}

.comment-reply-link{
	@extend .btn;
	@extend .btn-small;
}

