/* ! Blog & Comments =================*/

.entry-meta, .comment-meta{
	font-size: 80%;
	margin-bottom: 1em;
}

.entry-utility{
	border-top: 1px solid $primarycolor;
	@extend .entry-meta;
	margin-bottom: 2em;
	margin-top:1em;
	clear: both;
	
}

li.comment{
	list-style: none;
	margin-bottom: 2em;
}

ul.children{
	border-left: 6px solid $lightestneutralcolor;
}

p.form-allowed-tags{
	@include hidden;
}
