@charset "UTF-8";
/*
	Theme Name: Oxford Crescent School Theme	
	Author: Evenson Graphics - 021780525
	Author URI: http://evensongraphics.co.nz
	Version: 1.0
	Tags: custom-menu, editor-style, theme-options, threaded-comments, translation-ready,responsive, mobile ready
	*/
@font-face {
  font-family: 'Helvetica Neue Bold Condensed';
  src: url("fonts/helveticaneue-boldcond-webfont.eot");
  src: url("fonts/helveticaneue-boldcond-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneue-boldcond-webfont.woff") format("woff"), url("fonts/helveticaneue-boldcond-webfont.ttf") format("truetype"), url("fonts/helveticaneue-boldcond-webfont.svg#helvetica_neueregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, partials/_normalise.scss */
/* line 8, css/partials/_normalise.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 19, partials/_normalise.scss */
/* line 20, css/partials/_normalise.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 30, partials/_normalise.scss */
/* line 29, css/partials/_normalise.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 50, partials/_normalise.scss */
/* line 48, css/partials/_normalise.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 63, partials/_normalise.scss */
/* line 62, css/partials/_normalise.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 73, partials/_normalise.scss */
/* line 71, css/partials/_normalise.scss */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 85, partials/_normalise.scss */
/* line 81, css/partials/_normalise.scss */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 93, partials/_normalise.scss */
/* line 88, css/partials/_normalise.scss */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 105, partials/_normalise.scss */
/* line 98, css/partials/_normalise.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 113, partials/_normalise.scss */
/* line 105, css/partials/_normalise.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 122, partials/_normalise.scss */
/* line 113, css/partials/_normalise.scss */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 131, partials/_normalise.scss */
/* line 121, css/partials/_normalise.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 140, partials/_normalise.scss */
/* line 129, css/partials/_normalise.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 149, partials/_normalise.scss */
/* line 137, css/partials/_normalise.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 157, partials/_normalise.scss */
/* line 144, css/partials/_normalise.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 165, partials/_normalise.scss */
/* line 152, css/partials/_normalise.scss */
sup {
  top: -0.5em; }

/* line 169, partials/_normalise.scss */
/* line 156, css/partials/_normalise.scss */
sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 180, partials/_normalise.scss */
/* line 165, css/partials/_normalise.scss */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 188, partials/_normalise.scss */
/* line 172, css/partials/_normalise.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 199, partials/_normalise.scss */
/* line 181, css/partials/_normalise.scss */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 207, partials/_normalise.scss */
/* line 188, css/partials/_normalise.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 217, partials/_normalise.scss */
/* line 197, css/partials/_normalise.scss */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 225, partials/_normalise.scss */
/* line 204, css/partials/_normalise.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 248, partials/_normalise.scss */
/* line 224, css/partials/_normalise.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
/* line 262, partials/_normalise.scss */
/* line 240, css/partials/_normalise.scss */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
/* line 273, partials/_normalise.scss */
/* line 250, css/partials/_normalise.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 286, partials/_normalise.scss */
/* line 262, css/partials/_normalise.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 298, partials/_normalise.scss */
/* line 275, css/partials/_normalise.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 307, partials/_normalise.scss */
/* line 283, css/partials/_normalise.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 318, partials/_normalise.scss */
/* line 293, css/partials/_normalise.scss */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 330, partials/_normalise.scss */
/* line 304, css/partials/_normalise.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 342, partials/_normalise.scss */
/* line 317, css/partials/_normalise.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 353, partials/_normalise.scss */
/* line 327, css/partials/_normalise.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 366, partials/_normalise.scss */
/* line 338, css/partials/_normalise.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 375, partials/_normalise.scss */
/* line 346, css/partials/_normalise.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 386, partials/_normalise.scss */
/* line 356, css/partials/_normalise.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
/* line 395, partials/_normalise.scss */
/* line 366, css/partials/_normalise.scss */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 404, partials/_normalise.scss */
/* line 374, css/partials/_normalise.scss */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 415, partials/_normalise.scss */
/* line 383, css/partials/_normalise.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 420, partials/_normalise.scss */
/* line 388, css/partials/_normalise.scss */
td,
th {
  padding: 0; }

/*# sourceMappingURL=_normalise.css.map */
/* line 394, css/partials/_normalise.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
/* line 24, css/partials/_site.scss */
html {
  background: white;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f2f2f2;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 32, css/partials/_site.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: black; }

/* line 41, css/partials/_site.scss */
body:after {
  content: '320';
  display: none; }
  @media (min-width: 480px) {
    /* line 41, css/partials/_site.scss */
    body:after {
      content: 'bp2'; } }
  @media (min-width: 600px) {
    /* line 41, css/partials/_site.scss */
    body:after {
      content: 'bp3'; } }
  @media (min-width: 768px) {
    /* line 41, css/partials/_site.scss */
    body:after {
      content: 'bp4'; } }
  @media (min-width: 992px) {
    /* line 41, css/partials/_site.scss */
    body:after {
      content: 'bp5'; } }
  @media (min-width: 1650px) {
    /* line 41, css/partials/_site.scss */
    body:after {
      content: 'bp6'; } }

/* line 61, css/partials/_site.scss */
.m-hide, header.header #searchform {
  display: none !important;
  visibility: hidden; }

/* line 64, css/partials/_site.scss */
[role="contentinfo"] {
  padding: 1.5em 12px;
  text-align: center; }

/* line 8, css/partials/_elements.scss */
hr {
  clear: both;
  display: block;
  margin: 3em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #bfbfbf; }

/* line 19, css/partials/_elements.scss */
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

/* line 25, css/partials/_elements.scss */
.img-rounded {
  border-radius: 4px; }

/* line 28, css/partials/_elements.scss */
.img-polaroid {
  padding: 12px;
  background-color: white;
  border: 1px solid #bfbfbf;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

/* line 34, css/partials/_elements.scss */
.img-circle {
  border-radius: 500px; }

/* line 39, css/partials/_elements.scss */
figure {
  margin-bottom: 1.5em; }
  /* line 42, css/partials/_elements.scss */
  figure img {
    margin-bottom: 0.375em; }
  /* line 45, css/partials/_elements.scss */
  figure figcaption {
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-size: 1.4rem;
    font-style: italic;
    color: black; }

/* line 6, css/partials/_typography.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  font-family: "Helvetica Neue Bold Condensed", "Arial Narrow", sans-serif;
  font-weight: normal;
  color: black;
  text-rendering: optimizelegibility; }
  /* line 13, css/partials/_typography.scss */
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-weight: normal;
    line-height: 1;
    color: #7f7f7f; }

/* line 19, css/partials/_typography.scss */
h1,
.h1 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 0.75em; }

/* line 25, css/partials/_typography.scss */
h2,
.h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 0.75em; }

/* line 31, css/partials/_typography.scss */
h3,
.h3 {
  font-size: 20.8px;
  font-size: 2.08rem;
  line-height: 1.3;
  margin-bottom: 1em; }

/* line 37, css/partials/_typography.scss */
h4,
.h4 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 1.5em; }

/* line 43, css/partials/_typography.scss */
h5,
.h5 {
  font-size: 18.4px;
  font-size: 1.84rem;
  margin-bottom: 1.5em; }

/* line 48, css/partials/_typography.scss */
h6,
.h6 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase; }

/* line 56, css/partials/_typography.scss */
p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em; }

/* line 65, css/partials/_typography.scss */
small {
  font-size: 12.8px;
  font-size: 1.28rem; }

/* line 68, css/partials/_typography.scss */
ul,
ol {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 24px; }
  /* line 72, css/partials/_typography.scss */
  ul li,
  ol li {
    margin-bottom: 0.75em; }

/* line 78, css/partials/_typography.scss */
nav li, ul.nav li {
  margin-bottom: 0; }

/* line 82, css/partials/_typography.scss */
li ul,
li ol {
  list-style-type: none;
  margin: 1.5em 0;
  font-size: 16px;
  font-size: 1.6rem; }

/* line 88, css/partials/_typography.scss */
ul.inline,
ol.inline {
  list-style-type: none;
  margin-left: 0; }
  /* line 92, css/partials/_typography.scss */
  ul.inline > li,
  ol.inline > li {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px; }

/* line 100, css/partials/_typography.scss */
blockquote {
  margin: 0 0 1.5em 0;
  padding: 12px;
  background-color: #f2f2f2;
  font-style: italic; }
  /* line 107, css/partials/_typography.scss */
  blockquote small:before {
    content: '\00A0 \2014'; }
  /* line 110, css/partials/_typography.scss */
  blockquote small:after {
    content: ''; }
  /* line 114, css/partials/_typography.scss */
  blockquote.pull-right {
    float: right;
    background-color: transparent; }
    /* line 118, css/partials/_typography.scss */
    blockquote.pull-right p, blockquote.pull-right small {
      text-align: right; }
    /* line 122, css/partials/_typography.scss */
    blockquote.pull-right small:before {
      content: ''; }
    /* line 125, css/partials/_typography.scss */
    blockquote.pull-right small:after {
      content: '\00A0 \2014'; }
  /* line 130, css/partials/_typography.scss */
  blockquote cite {
    font-style: normal; }

/* line 134, css/partials/_typography.scss */
q {
  quotes: none; }

/* line 137, css/partials/_typography.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

/* line 144, css/partials/_typography.scss */
dl,
dd {
  margin-bottom: 1.5em; }

/* line 148, css/partials/_typography.scss */
dt {
  font-weight: bold; }

/* line 15, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/bourbon/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.dl-horizontal:after {
  content: "";
  display: table;
  clear: both; }
/* line 154, css/partials/_typography.scss */
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 30.38869258%; }
/* line 159, css/partials/_typography.scss */
.dl-horizontal dd {
  margin-left: 32.99289258%; }

/* line 163, css/partials/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted #bfbfbf;
  cursor: help; }

/* line 167, css/partials/_typography.scss */
b, strong {
  font-weight: bold; }

/* line 170, css/partials/_typography.scss */
dfn {
  font-style: italic; }

/* line 173, css/partials/_typography.scss */
ins {
  background-color: #f2f2f2;
  color: black;
  text-decoration: none; }

/* line 178, css/partials/_typography.scss */
mark {
  background-color: #f2f2f2;
  color: black;
  font-style: italic;
  font-weight: bold; }

/* line 184, css/partials/_typography.scss */
pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 1.5em;
  color: #010101; }

/* line 193, css/partials/_typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 198, css/partials/_typography.scss */
sub,
sup {
  position: relative;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 0;
  vertical-align: baselineheight; }

/* line 205, css/partials/_typography.scss */
sup {
  top: -.5em; }

/* line 208, css/partials/_typography.scss */
sub {
  bottom: -.25em; }

/* line 211, css/partials/_typography.scss */
.lead {
  font-size: 18.4px;
  font-size: 1.84rem; }

/* line 214, css/partials/_typography.scss */
.secondary {
  font-size: 13.91304px;
  font-size: 1.3913rem; }

/* line 217, css/partials/_typography.scss */
.tertiary {
  font-size: 12.8px;
  font-size: 1.28rem; }

/* line 220, css/partials/_typography.scss */
.amp {
  font-family: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua"); }

/* line 225, css/partials/_typography.scss */
.footnotes li {
  margin-bottom: 0.75em;
  font-family: Palatino, "Times New Roman", Times, serif;
  font-size: 12.30769px;
  font-size: 1.23077rem;
  line-height: 1.4; }

/*footnotes*/
/* line 233, css/partials/_typography.scss */
.spaced {
  letter-spacing: 1px; }

/* line 6, css/partials/_colour.scss */
a {
  text-decoration: none;
  color: #a62c1a; }
  /* line 10, css/partials/_colour.scss */
  a:visited {
    color: #4e150c; }
  /* line 13, css/partials/_colour.scss */
  a:hover {
    text-decoration: underline;
    color: #7a2013; }
  /* line 17, css/partials/_colour.scss */
  a:focus {
    outline: thin dotted;
    color: #220905; }
  /* line 21, css/partials/_colour.scss */
  a:hover, a:active {
    outline: 0; }

/* line 26, css/partials/_colour.scss */
::-moz-selection {
  background-color: #174345;
  color: #85c2de;
  text-shadow: none; }

/* line 31, css/partials/_colour.scss */
::-moz-selection {
  background-color: #174345;
  color: #85c2de;
  text-shadow: none; }
::selection {
  background-color: #174345;
  color: #85c2de;
  text-shadow: none; }

/* line 7, css/partials/_bootstrap-breadcrumbs.scss */
.breadcrumb {
  list-style-type: none;
  margin: 0 0 1.5em;
  padding: 0.75em 12px;
  background-color: #fefefe;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #989898;
  /*li*/ }
  /* line 18, css/partials/_bootstrap-breadcrumbs.scss */
  .breadcrumb > li {
    display: inline-block;
    *display: inline;
    *zoom: 1; }
    /* line 23, css/partials/_bootstrap-breadcrumbs.scss */
    .breadcrumb > li a {
      color: #a62c1a; }
    /* line 26, css/partials/_bootstrap-breadcrumbs.scss */
    .breadcrumb > li > .divider {
      color: black; }
  /* line 30, css/partials/_bootstrap-breadcrumbs.scss */
  .breadcrumb > .active {
    color: #7f7f7f; }

/*breadcrumb*/
/* line 7, css/partials/_bootstrap-pagination.scss */
.pagination {
  margin: 0 0 1.5em 0; }

/* line 10, css/partials/_bootstrap-pagination.scss */
.pagination ul {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0; }

/* line 16, css/partials/_bootstrap-pagination.scss */
.pagination ul > li {
  display: inline; }

/* line 19, css/partials/_bootstrap-pagination.scss */
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 11px;
  font-family: Palatino, "Times New Roman", Times, serif;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 1.5em;
  text-decoration: none;
  background-color: #85c2de;
  border: 1px solid #3699c7;
  border-left-width: 0;
  color: #a62c1a; }

/* line 33, css/partials/_bootstrap-pagination.scss */
.pagination ul > li > a:hover {
  background-color: #174345;
  color: white; }

/* line 37, css/partials/_bootstrap-pagination.scss */
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #174345;
  color: white;
  text-decoration: none;
  cursor: default; }

/* line 44, css/partials/_bootstrap-pagination.scss */
.pagination ul > .active > a:hover {
  background-color: #85c2de; }

/* line 47, css/partials/_bootstrap-pagination.scss */
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  background-color: transparent;
  color: #7f7f7f;
  cursor: default; }

/* line 54, css/partials/_bootstrap-pagination.scss */
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  background-color: #f2f2f2;
  border-left-width: 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: black; }

/* line 62, css/partials/_bootstrap-pagination.scss */
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  background-color: #f2f2f2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: black; }

/* line 71, css/partials/_bootstrap-pagination.scss */
.pagination-centered {
  text-align: center; }

/* line 74, css/partials/_bootstrap-pagination.scss */
.pagination-right {
  text-align: right; }

/* line 80, css/partials/_bootstrap-pagination.scss */
.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 8px 22px;
  font-size: 16px;
  font-size: 1.6rem; }

/* line 87, css/partials/_bootstrap-pagination.scss */
.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 4px 11px;
  font-size: 14px;
  font-size: 1.4rem; }

/* line 94, css/partials/_bootstrap-pagination.scss */
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 2px 5px;
  font-size: 12px;
  font-size: 1.2rem; }

/* line 7, css/partials/_bootstrap-forms.scss */
form {
  margin: 0 0 1.5em 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  /* line 11, css/partials/_bootstrap-forms.scss */
  form p {
    margin-bottom: 0.75em; }
  /* line 14, css/partials/_bootstrap-forms.scss */
  form ul {
    list-style-type: none;
    margin: 0 0 1.5em 0;
    padding: 0; }
  /* line 19, css/partials/_bootstrap-forms.scss */
  form br {
    display: none; }

/* line 23, css/partials/_bootstrap-forms.scss */
fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0; }
  /* line 28, css/partials/_bootstrap-forms.scss */
  fieldset:last-of-type {
    margin-bottom: 0; }

/* line 32, css/partials/_bootstrap-forms.scss */
legend {
  display: block;
  width: 100%;
  margin-bottom: 3em;
  *margin-left: -7px;
  padding: 0 0 0.75em 0;
  border: 0;
  color: black;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5em;
  white-space: normal; }
  /* line 45, css/partials/_bootstrap-forms.scss */
  legend small {
    font-size: 1.125em;
    color: #1a1a1a; }

/* line 50, css/partials/_bootstrap-forms.scss */
label,
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 57, css/partials/_bootstrap-forms.scss */
label {
  display: block;
  margin-bottom: 0.375em;
  font-size: 16px;
  font-size: 1.6rem; }

/* line 62, css/partials/_bootstrap-forms.scss */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  display: inline-block;
  margin-bottom: 0.75em;
  padding: 6px 11px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: inherit;
  border-radius: 4px;
  vertical-align: middle; }

/* line 88, css/partials/_bootstrap-forms.scss */
input[type="text"] {
  -webkit-appearance: none; }

/* line 93, css/partials/_bootstrap-forms.scss */
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
  display: -webkit-inline-flex; }

/* line 101, css/partials/_bootstrap-forms.scss */
input,
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 106, css/partials/_bootstrap-forms.scss */
textarea {
  height: auto;
  resize-x: none; }

/* line 110, css/partials/_bootstrap-forms.scss */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: white;
  border: 2px solid #bfbfbf; }
  /* line 129, css/partials/_bootstrap-forms.scss */
  textarea:hover,
  input[type="text"]:hover,
  input[type="password"]:hover,
  input[type="datetime"]:hover,
  input[type="datetime-local"]:hover,
  input[type="date"]:hover,
  input[type="month"]:hover,
  input[type="time"]:hover,
  input[type="week"]:hover,
  input[type="number"]:hover,
  input[type="email"]:hover,
  input[type="url"]:hover,
  input[type="search"]:hover,
  input[type="tel"]:hover,
  input[type="color"]:hover {
    border-color: #a5a5a5; }
  /* line 132, css/partials/_bootstrap-forms.scss */
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus {
    border-color: #7f7f7f;
    outline: 0;
    outline: thin dotted \ 9; }

/* line 138, css/partials/_bootstrap-forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  margin-top: 1px \ 9;
  line-height: normal; }

/* line 145, css/partials/_bootstrap-forms.scss */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }

/* line 154, css/partials/_bootstrap-forms.scss */
select {
  padding: 0;
  width: 90%; }

/* line 158, css/partials/_bootstrap-forms.scss */
select[multiple],
select[size] {
  height: auto; }

/* line 162, css/partials/_bootstrap-forms.scss */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

/* line 246, css/partials/_mixins.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
  color: #7f7f7f; }
/* line 250, css/partials/_mixins.scss */
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
  color: #7f7f7f; }
/* line 254, css/partials/_mixins.scss */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
  color: #7f7f7f; }
/* line 258, css/partials/_mixins.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
  color: #7f7f7f; }

/* line 175, css/partials/_bootstrap-forms.scss */
.radio,
.checkbox {
  min-height: 1.5em;
  font-size: 16px;
  font-size: 1.6rem; }

/* line 180, css/partials/_bootstrap-forms.scss */
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-right: 12px; }

/* line 185, css/partials/_bootstrap-forms.scss */
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px; }

/* line 189, css/partials/_bootstrap-forms.scss */
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle; }

/* line 196, css/partials/_bootstrap-forms.scss */
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 12px; }

/* line 203, css/partials/_bootstrap-forms.scss */
.input-mini {
  width: 60px; }

/* line 204, css/partials/_bootstrap-forms.scss */
.input-small {
  width: 90px; }

/* line 205, css/partials/_bootstrap-forms.scss */
.input-medium {
  width: 150px; }

/* line 206, css/partials/_bootstrap-forms.scss */
.input-large {
  width: 210px; }

/* line 207, css/partials/_bootstrap-forms.scss */
.input-xlarge {
  width: 270px; }

/* line 208, css/partials/_bootstrap-forms.scss */
.input-xxlarge {
  width: 530px; }

/* line 212, css/partials/_bootstrap-forms.scss */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  opacity: .25; }

/* line 222, css/partials/_bootstrap-forms.scss */
.form-actions {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 0.5em 24px 1.5em; }
  /* line 15, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/bourbon/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
  .form-actions:after {
    content: "";
    display: table;
    clear: both; }

/* line 230, css/partials/_bootstrap-forms.scss */
[placeholder]:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .5s .5s ease;
  transition: opacity .5s .5s ease; }

/* line 7, css/partials/_bootstrap-form-help.scss */
.help-block,
.help-inline {
  color: #1a1a1a;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 1.4; }

/* line 13, css/partials/_bootstrap-form-help.scss */
.help-block {
  display: block;
  margin-bottom: 0.75em; }

/* line 17, css/partials/_bootstrap-form-help.scss */
.help-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding-left: 12px; }

/* line 24, css/partials/_bootstrap-form-help.scss */
.help-block,
.help-inline {
  color: #1a1a1a; }

/* line 28, css/partials/_bootstrap-form-help.scss */
.help-block {
  display: block;
  margin-bottom: 0.75em; }

/* line 32, css/partials/_bootstrap-form-help.scss */
.help-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding-left: 24px; }

/* line 7, css/partials/_bootstrap-form-horizontal.scss */
.form-horizontal {
  /*controls*/
  /*input*/ }
  /* line 9, css/partials/_bootstrap-form-horizontal.scss */
  .form-horizontal .control-group {
    margin-bottom: 1.5em; }
    /* line 15, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/bourbon/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
    .form-horizontal .control-group:after {
      content: "";
      display: table;
      clear: both; }
  /* line 13, css/partials/_bootstrap-form-horizontal.scss */
  .form-horizontal .control-label {
    float: left;
    width: 49%;
    padding-top: 5px;
    padding-right: 24px;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 21, css/partials/_bootstrap-form-horizontal.scss */
  .form-horizontal .controls {
    *display: inline-block;
    margin-left: 49%;
    *margin-left: 0;
    *padding-left: 24px; }
    /* line 27, css/partials/_bootstrap-form-horizontal.scss */
    .form-horizontal .controls:first-child {
      *padding-left: 24px; }
  /* line 31, css/partials/_bootstrap-form-horizontal.scss */
  .form-horizontal .help-block {
    margin-bottom: 0; }
  /* line 38, css/partials/_bootstrap-form-horizontal.scss */
  .form-horizontal input + .help-block,
  .form-horizontal select + .help-block,
  .form-horizontal textarea + .help-block {
    margin-top: 0.75em; }
  /* line 42, css/partials/_bootstrap-form-horizontal.scss */
  .form-horizontal .form-actions {
    padding-left: 49%; }

/* line 48, css/partials/_bootstrap-form-horizontal.scss */
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 0;
  vertical-align: middle; }
/* line 57, css/partials/_bootstrap-form-horizontal.scss */
.form-horizontal .hide {
  display: none; }
/* line 60, css/partials/_bootstrap-form-horizontal.scss */
.form-horizontal label,
.form-horizontal .btn-group {
  display: inline-block; }
/* line 64, css/partials/_bootstrap-form-horizontal.scss */
.form-horizontal .control-group {
  margin-bottom: 0.75em; }
/* line 67, css/partials/_bootstrap-form-horizontal.scss */
.form-horizontal legend + .control-group {
  margin-top: 1.5em;
  -webkit-margin-top-collapse: separate; }

/*form-horizontal*/
/* line 7, css/partials/_bootstrap-form-search.scss */
input.search-query {
  margin-bottom: 0;
  padding-right: 14px;
  padding-right: 4px \ 9;
  padding-left: 14px;
  padding-left: 4px \9;
  border-radius: 0; }

/* line 15, css/partials/_bootstrap-form-search.scss */
.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  border-radius: 0; }

/* line 19, css/partials/_bootstrap-form-search.scss */
.form-search .input-append .search-query {
  border-radius: 14px, 0, 0, 14px; }

/* line 22, css/partials/_bootstrap-form-search.scss */
.form-search .input-append .btn, .form-search .input-append #submit, .form-search .input-append input[type="submit"], .form-search .input-append #nav-below a, #nav-below .form-search .input-append a, .form-search .input-append a.post-edit-link, .form-search .input-append .comment-reply-link {
  border-radius: 0, 14px, 14px, 0; }

/* line 25, css/partials/_bootstrap-form-search.scss */
.form-search .input-prepend .search-query {
  border-radius: 0, 14px, 14px, 0; }

/* line 28, css/partials/_bootstrap-form-search.scss */
.form-search .input-prepend .btn, .form-search .input-prepend #submit, .form-search .input-prepend input[type="submit"], .form-search .input-prepend #nav-below a, #nav-below .form-search .input-prepend a, .form-search .input-prepend a.post-edit-link, .form-search .input-prepend .comment-reply-link {
  border-radius: 14px, 0, 0, 14px; }

/* line 31, css/partials/_bootstrap-form-search.scss */
.form-search {
  /*radio*/ }
  /* line 33, css/partials/_bootstrap-form-search.scss */
  .form-search input,
  .form-search textarea,
  .form-search select {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: 0;
    vertical-align: middle; }
  /* line 42, css/partials/_bootstrap-form-search.scss */
  .form-search .hide {
    display: none; }
  /* line 45, css/partials/_bootstrap-form-search.scss */
  .form-search label,
  .form-search .btn-group {
    display: inline-block; }
  /* line 49, css/partials/_bootstrap-form-search.scss */
  .form-search .radio,
  .form-search .checkbox {
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle; }
  /* line 55, css/partials/_bootstrap-form-search.scss */
  .form-search .radio input[type="radio"],
  .form-search .checkbox input[type="checkbox"] {
    float: left; }
    /* line 58, css/partials/_bootstrap-form-search.scss */
    .form-search .radio input[type="radio"] margin,
    .form-search .checkbox input[type="checkbox"] margin {
      right: 3px;
      left: 0; }
  /* line 63, css/partials/_bootstrap-form-search.scss */
  .form-search .control-group {
    margin-bottom: 0.75em; }
  /* line 66, css/partials/_bootstrap-form-search.scss */
  .form-search legend + .control-group {
    margin-top: 1.5em;
    -webkit-margin-top-collapse: separate; }

/*form-search*/
/* line 7, css/partials/_bootstrap-form-buttons.scss */
.btn, #submit, input[type="submit"], #nav-below a, a.post-edit-link, .comment-reply-link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 6px 11px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #174345;
  border: 1px solid #0a1e1f;
  border-bottom-color: #040b0c;
  border-radius: 4px;
  cursor: pointer; }
  /* line 29, css/partials/_bootstrap-form-buttons.scss */
  .btn:hover, #submit:hover, input[type="submit"]:hover, #nav-below a:hover, a.post-edit-link:hover, .comment-reply-link:hover, .btn:active, #submit:active, input[type="submit"]:active, #nav-below a:active, a.post-edit-link:active, .comment-reply-link:active {
    background-color: #040b0c;
    text-decoration: none; }

/*btn*/
/* line 37, css/partials/_bootstrap-form-buttons.scss */
.btn:first-child, #submit:first-child, input[type="submit"]:first-child, #nav-below a:first-child, a.post-edit-link:first-child, .comment-reply-link:first-child {
  *margin-left: 0; }

/* line 40, css/partials/_bootstrap-form-buttons.scss */
.btn-disabled {
  opacity: .5;
  cursor: default; }

/* line 44, css/partials/_bootstrap-form-buttons.scss */
.btn-error {
  background-color: #b01400;
  border-color: #7d0e00;
  border-bottom-color: #4a0800;
  color: white; }
  /* line 52, css/partials/_bootstrap-form-buttons.scss */
  .btn-error:visited, .btn-error:active, .btn-error:hover {
    background-color: #7d0e00;
    color: #f2f2f2; }

/*btn-error*/
/* line 59, css/partials/_bootstrap-form-buttons.scss */
.btn-info {
  background-color: #d8dca2;
  border-color: #c8ce7d;
  border-bottom-color: #b9c058;
  color: #585c23; }
  /* line 67, css/partials/_bootstrap-form-buttons.scss */
  .btn-info:visited, .btn-info:active, .btn-info:hover {
    background-color: #c8ce7d;
    color: #474a1c; }

/*btn-info*/
/* line 74, css/partials/_bootstrap-form-buttons.scss */
.btn-inverse {
  background-color: #414141;
  border-color: #272727;
  border-bottom-color: #0e0e0e;
  color: white; }
  /* line 82, css/partials/_bootstrap-form-buttons.scss */
  .btn-inverse:visited, .btn-inverse:active, .btn-inverse:hover {
    background-color: #343434;
    color: #f2f2f2; }

/*btn-inverse*/
/* line 89, css/partials/_bootstrap-form-buttons.scss */
.btn-primary, a.post-edit-link {
  background-color: #85c2de;
  border-color: #5daed3;
  border-bottom-color: #3699c7;
  color: white; }
  /* line 97, css/partials/_bootstrap-form-buttons.scss */
  .btn-primary:visited, a.post-edit-link:visited, .btn-primary:active, a.post-edit-link:active, .btn-primary:hover, a.post-edit-link:hover {
    background-color: #79bcdb;
    color: #f2f2f2; }

/*btn-primary*/
/* line 104, css/partials/_bootstrap-form-buttons.scss */
.btn-success {
  background-color: #bcd4de;
  border-color: #9abecd;
  border-bottom-color: #9abecd;
  color: #335868; }
  /* line 112, css/partials/_bootstrap-form-buttons.scss */
  .btn-success:visited, .btn-success:active, .btn-success:hover {
    background-color: #abc9d6;
    color: #2b4a57; }

/*btn-success*/
/* line 119, css/partials/_bootstrap-form-buttons.scss */
.btn-warning {
  background-color: #b01400;
  border-color: #7d0e00;
  border-bottom-color: #4a0800;
  color: white; }
  /* line 127, css/partials/_bootstrap-form-buttons.scss */
  .btn-warning:visited, .btn-warning:active, .btn-warning:hover {
    background-color: #971100;
    color: #f2f2f2; }

/*btn-warning*/
/* line 134, css/partials/_bootstrap-form-buttons.scss */
.btn-extlarge {
  padding: 11px 22px;
  font-size: 32px;
  font-size: 3.2rem;
  border-width: 2px;
  border-radius: 8px; }

/* line 140, css/partials/_bootstrap-form-buttons.scss */
.btn.btn-large, .btn-large#submit, input.btn-large[type="submit"], #nav-below a.btn-large, a.btn-large.post-edit-link, .btn-large.comment-reply-link {
  *padding-top: 7px;
  *padding-bottom: 7px; }

/*btn.btn-large*/
/* line 146, css/partials/_bootstrap-form-buttons.scss */
.btn-large {
  padding: 11px 18px;
  font-size: 20px;
  font-size: 2rem;
  line-height: inherit;
  border-width: 2px;
  border-radius: 8px; }

/* line 153, css/partials/_bootstrap-form-buttons.scss */
.btn-small, .comment-reply-link {
  padding: 5px 10px;
  font-size: 10.66667px;
  font-size: 1.06667rem; }

/* line 158, css/partials/_bootstrap-form-buttons.scss */
.btn-mini, a.post-edit-link {
  padding: 3px 5px;
  font-size: 9.14286px;
  font-size: 0.91429rem; }

/* line 163, css/partials/_bootstrap-form-buttons.scss */
.btn-group {
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
  margin-bottom: 1.5em; }
  /* line 169, css/partials/_bootstrap-form-buttons.scss */
  .btn-group .btn, .btn-group #submit, .btn-group input[type="submit"], .btn-group #nav-below a, #nav-below .btn-group a, .btn-group a.post-edit-link, .btn-group .comment-reply-link {
    position: relative;
    float: left;
    margin-left: -1px;
    border-radius: 0; }
  /* line 175, css/partials/_bootstrap-form-buttons.scss */
  .btn-group .btn:first-child, .btn-group #submit:first-child, .btn-group input[type="submit"]:first-child, .btn-group #nav-below a:first-child, #nav-below .btn-group a:first-child, .btn-group a.post-edit-link:first-child, .btn-group .comment-reply-link:first-child {
    margin-left: 0;
    border-radius: 2px, 0, 2px, 0; }
  /* line 179, css/partials/_bootstrap-form-buttons.scss */
  .btn-group .btn:last-child, .btn-group #submit:last-child, .btn-group input[type="submit"]:last-child, .btn-group #nav-below a:last-child, #nav-below .btn-group a:last-child, .btn-group a.post-edit-link:last-child, .btn-group .comment-reply-link:last-child {
    border-radius: 0, 2px, 0, 2px; }
  /* line 182, css/partials/_bootstrap-form-buttons.scss */
  .btn-group .btn.large:first-child, .btn-group .large#submit:first-child, .btn-group input.large[type="submit"]:first-child, .btn-group #nav-below a.large:first-child, #nav-below .btn-group a.large:first-child, .btn-group a.large.post-edit-link:first-child, .btn-group .large.comment-reply-link:first-child {
    margin-left: 0;
    border-radius: 4px, 0, 4px, 0; }
  /* line 186, css/partials/_bootstrap-form-buttons.scss */
  .btn-group .btn.large:last-child, .btn-group .large#submit:last-child, .btn-group input.large[type="submit"]:last-child, .btn-group #nav-below a.large:last-child, #nav-below .btn-group a.large:last-child, .btn-group a.large.post-edit-link:last-child, .btn-group .large.comment-reply-link:last-child {
    border-radius: 0, 4px, 0, 4px; }

/*btn.btn-group*/
/* line 190, css/partials/_bootstrap-form-buttons.scss */
.btn-toolbar {
  clear: both;
  margin-top: 0.75em;
  margin-bottom: 0.75em; }
  /* line 195, css/partials/_bootstrap-form-buttons.scss */
  .btn-toolbar .btn-group {
    display: inline-block;
    *display: inline;
    *zoom: 1; }

/*btn.btn-toolbar*/
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
/* line 14, css/partials/_flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

/* line 18, css/partials/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
/* line 24, css/partials/_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0; }

/* line 25, css/partials/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 26, css/partials/_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block; }

/* line 27, css/partials/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
/* line 30, css/partials/_flexslider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 31, css/partials/_flexslider.scss */
html[xmlns] .slides {
  display: block; }

/* line 32, css/partials/_flexslider.scss */
* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 37, css/partials/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
/* line 42, css/partials/_flexslider.scss */
.flexslider {
  position: relative;
  zoom: 1; }

/* line 43, css/partials/_flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

/* line 44, css/partials/_flexslider.scss */
.loading .flex-viewport {
  max-height: 300px; }

/* line 45, css/partials/_flexslider.scss */
.flexslider .slides {
  zoom: 1; }

/* line 47, css/partials/_flexslider.scss */
.carousel li {
  margin-right: 5px; }

/* Direction Nav */
/* line 51, css/partials/_flexslider.scss */
.flex-direction-nav {
  *height: 0; }

/* line 52, css/partials/_flexslider.scss */
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: 0;
  display: block;
  background: url(images/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease; }

/* line 53, css/partials/_flexslider.scss */
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: 10px; }

/* line 54, css/partials/_flexslider.scss */
.flex-direction-nav .flex-prev {
  left: 10px; }

/* line 55, css/partials/_flexslider.scss */
.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px; }

/* line 56, css/partials/_flexslider.scss */
.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px; }

/* line 57, css/partials/_flexslider.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

/* line 58, css/partials/_flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default; }

/* Control Nav */
/* line 61, css/partials/_flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 40px;
  text-align: center; }

/* line 62, css/partials/_flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

/* line 63, css/partials/_flexslider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(128, 128, 128, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(128, 128, 128, 0.3);
  box-shadow: inset 0 0 3px rgba(128, 128, 128, 0.3); }

/* line 64, css/partials/_flexslider.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(128, 128, 128, 0.7); }

/* line 65, css/partials/_flexslider.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(128, 128, 128, 0.9);
  cursor: default; }

/* line 67, css/partials/_flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

/* line 68, css/partials/_flexslider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

/* line 69, css/partials/_flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

/* line 70, css/partials/_flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1; }

/* line 71, css/partials/_flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  /* line 74, css/partials/_flexslider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0; }

  /* line 75, css/partials/_flexslider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0; } }
/*! responsive-nav.js v1.0.14 by @viljamis */
/* line 3, css/partials/_navigation-responsive-nav.scss */
.js nav[role=navigation] {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }
  @media (min-width: 600px) {
    /* line 3, css/partials/_navigation-responsive-nav.scss */
    .js nav[role=navigation] {
      max-height: none; } }
  /* line 14, css/partials/_navigation-responsive-nav.scss */
  .js nav[role=navigation] .opened {
    max-height: 9999px; }

/* line 20, css/partials/_navigation-responsive-nav.scss */
#nav-toggle {
  display: block;
  text-align: right;
  padding: 0.75em 12px;
  background-color: #174345;
  color: white;
  /* border-bottom-left-radius: $borderradius * 2; */ }
  @media (min-width: 600px) {
    /* line 20, css/partials/_navigation-responsive-nav.scss */
    #nav-toggle {
      display: none; } }

/* line 33, css/partials/_navigation-responsive-nav.scss */
.navigation-toggle {
  display: none; }

/* line 37, css/partials/_navigation-responsive-nav.scss */
nav[role=navigation] {
  background-color: #174345;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }

/* line 41, css/partials/_navigation-responsive-nav.scss */
nav[role=navigation].active {
  max-height: 25em; }

/* line 44, css/partials/_navigation-responsive-nav.scss */
#navigation-toggle {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 600px) {
    /* line 44, css/partials/_navigation-responsive-nav.scss */
    #navigation-toggle {
      margin: 0 0 0 -0.25em;
      border-width: 0; } }
  /* line 52, css/partials/_navigation-responsive-nav.scss */
  #navigation-toggle ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    @media (min-width: 600px) {
      /* line 52, css/partials/_navigation-responsive-nav.scss */
      #navigation-toggle ul {
        margin: 0 auto;
        text-align: center;
        padding: 1em 0; } }
  @media (min-width: 600px) {
    /* line 61, css/partials/_navigation-responsive-nav.scss */
    #navigation-toggle li {
      display: inline-block;
      margin: 0 12px 0 0; } }
  /* line 67, css/partials/_navigation-responsive-nav.scss */
  #navigation-toggle a {
    display: block;
    padding: .8em;
    border-bottom: 1px solid #318d92;
    color: white;
    text-transform: uppercase;
    font-weight: 700; }
    @media (min-width: 600px) {
      /* line 67, css/partials/_navigation-responsive-nav.scss */
      #navigation-toggle a {
        border-width: 0;
        font-size: 14px;
        font-size: 1.4rem; } }
    /* line 80, css/partials/_navigation-responsive-nav.scss */
    #navigation-toggle a:hover {
      color: #e6e6e6;
      text-decoration: none; }

/* line 1, css/partials/_navigation-responsive-breadcrumb.scss */
.crumbs-container {
  position: relative;
  overflow: hidden;
  height: 3.2em;
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out; }

/* line 7, css/partials/_navigation-responsive-breadcrumb.scss */
.crumbs-container.active {
  height: 13.6em; }
  @media (min-width: 600px) {
    /* line 7, css/partials/_navigation-responsive-breadcrumb.scss */
    .crumbs-container.active {
      height: 3.2em; } }

/* line 14, css/partials/_navigation-responsive-breadcrumb.scss */
.crumbs {
  width: 100%;
  position: absolute; }

@media (min-width: 600px) {
  /* line 18, css/partials/_navigation-responsive-breadcrumb.scss */
  .crumbs li {
    display: inline-block; } }

@media (min-width: 600px) {
  /* line 23, css/partials/_navigation-responsive-breadcrumb.scss */
  .crumbs li:after {
    content: '→';
    padding: 0 0.25em 0 0.5em;
    color: #999; } }

@media (min-width: 600px) {
  /* line 30, css/partials/_navigation-responsive-breadcrumb.scss */
  .crumbs li.last:before, .crumbs li.last:after {
    content: ''; } }

/* line 35, css/partials/_navigation-responsive-breadcrumb.scss */
.crumbs li a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid #bfbfbf; }
  @media (min-width: 600px) {
    /* line 35, css/partials/_navigation-responsive-breadcrumb.scss */
    .crumbs li a {
      display: inline;
      border: 0;
      padding: 0; } }

/* line 46, css/partials/_navigation-responsive-breadcrumb.scss */
.crumbs li:last-child a {
  border-bottom: 0; }

/* line 49, css/partials/_navigation-responsive-breadcrumb.scss */
#crumbs-trigger {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  font-size: 2em;
  padding: 0 0.5em 0.2em; }
  @media (min-width: 600px) {
    /* line 49, css/partials/_navigation-responsive-breadcrumb.scss */
    #crumbs-trigger {
      display: none; } }

/* =WordPress Core
-------------------------------------------------------------- */
/* line 3, css/partials/_wpimage-aligments.scss */
.alignnone {
  margin: 5px 20px 20px 0; }

/* line 7, css/partials/_wpimage-aligments.scss */
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

/* line 13, css/partials/_wpimage-aligments.scss */
.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

/* line 18, css/partials/_wpimage-aligments.scss */
.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

/* line 23, css/partials/_wpimage-aligments.scss */
.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

/* line 28, css/partials/_wpimage-aligments.scss */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

/* line 33, css/partials/_wpimage-aligments.scss */
a img.alignnone {
  margin: 5px 20px 20px 0; }

/* line 37, css/partials/_wpimage-aligments.scss */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

/* line 42, css/partials/_wpimage-aligments.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 48, css/partials/_wpimage-aligments.scss */
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

/* line 56, css/partials/_wpimage-aligments.scss */
.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

/* line 60, css/partials/_wpimage-aligments.scss */
.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

/* line 64, css/partials/_wpimage-aligments.scss */
.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

/* line 68, css/partials/_wpimage-aligments.scss */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

/* line 77, css/partials/_wpimage-aligments.scss */
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* line 84, css/partials/_wpimage-aligments.scss */
.wp-post-image {
  margin-bottom: 1em; }

/*  !WP Buttons ======================== */
/* line 11, css/partials/_wp-common-buttons.scss */
#searchform {
  position: relative; }
  /* line 13, css/partials/_wp-common-buttons.scss */
  #searchform #searchsubmit {
    position: absolute;
    right: 10px;
    top: 20%;
    border: 0;
    background: url(images/search-icon.svg) no-repeat center center;
    font-size: 0;
    height: 22px;
    width: 22px; }
    /* line 305, css/partials/_mixins.scss */
    html.no-svg #searchform #searchsubmit {
      background: url(images/search-icon.png) no-repeat center center; }

/* line 28, css/partials/_wp-common-buttons.scss */
#nav-below {
  padding: 1em; }
  /* line 15, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/bourbon/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
  #nav-below:after {
    content: "";
    display: table;
    clear: both; }

/* line 37, css/partials/_wp-common-buttons.scss */
#nav-below a[rel="next"] {
  float: right; }

/* line 41, css/partials/_wp-common-buttons.scss */
a.post-edit-link {
  margin: 1em; }
  /* line 46, css/partials/_wp-common-buttons.scss */
  a.post-edit-link:visited {
    color: white; }

/* ! Blog & Comments =================*/
/* line 3, css/partials/_wp-blogandcomments.scss */
.entry-meta, .entry-utility, .comment-meta {
  font-size: 80%;
  margin-bottom: 1em; }

/* line 8, css/partials/_wp-blogandcomments.scss */
.entry-utility {
  border-top: 1px solid #85c2de;
  margin-bottom: 2em;
  margin-top: 1em;
  clear: both; }

/* line 17, css/partials/_wp-blogandcomments.scss */
li.comment {
  list-style: none;
  margin-bottom: 2em; }

/* line 22, css/partials/_wp-blogandcomments.scss */
ul.children {
  border-left: 6px solid #f2f2f2; }

/* line 26, css/partials/_wp-blogandcomments.scss */
p.form-allowed-tags {
  display: none !important;
  visibility: hidden; }

/* line 15, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/bourbon/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
[role="banner"]:after {
  content: "";
  display: table;
  clear: both; }

/* line 9, css/partials/_layout.scss */
#skip, .screen-reader-text {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }
  /* line 59, css/partials/_mixins.scss */
  #skip.focusable:active, #skip.focusable:focus, .screen-reader-text.focusable:active, .screen-reader-text.focusable:focus {
    position: static;
    clip: auto;
    height: auto;
    width: auto;
    margin: 0;
    overflow: visible; }

/* line 13, css/partials/_layout.scss */
.no-js-warning {
  background-color: #df0000;
  padding: 10px;
  color: white;
  display: block; }
  /* line 18, css/partials/_layout.scss */
  .no-js-warning a {
    color: yellow; }

/*
.container{
	padding: 0 1em;
	@include mq($bp3){
		padding: 0 2em;
	}
}
*/
@media (min-width: 600px) {
  /* line 40, css/partials/_layout.scss */
  #content {
    background: url("images/bg.png") repeat-y 0 0;
    background: none, url("images/bg.svg") repeat-y -30% 0; } }

/* line 49, css/partials/_layout.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
  padding: 0 1em; }
  /* line 12, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/output/support/_clearfix.scss */
  .container::after {
    content: " ";
    display: block;
    clear: both; }
  /* line 61, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/language/susy/_background.scss */
  head {
    display: block;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 999;
    color: #333;
    background: rgba(255, 255, 255, 0.25); }
  /* line 62, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/language/susy/_background.scss */
  head::before {
    content: "|||";
    display: block;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold; }
  /* line 63, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/language/susy/_background.scss */
  head:hover {
    background: rgba(255, 255, 255, 0.5);
    color: red; }
  /* line 67, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/language/susy/_background.scss */
  head:hover ~ .container, head:hover ~ body .container {
    position: relative; }
    /* line 70, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/language/susy/_background.scss */
    head:hover ~ .container::before, head:hover ~ body .container::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: -webkit-linear-gradient( left , transparent 8.33333%, blue 8.33333%, #4d4dff 91.66667%, transparent 91.66667%);
      background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(8.33333%, blue), color-stop(91.66667%, #4d4dff), to(transparent));
      background-image: -webkit-linear-gradient(left, transparent 8.33333%, blue 8.33333%, #4d4dff 91.66667%, transparent 91.66667%);
      background-image: linear-gradient(to right, transparent 8.33333%, blue 8.33333%, #4d4dff 91.66667%, transparent 91.66667%);
      -webkit-background-size: 8.33333%;
      background-size: 8.33333%;
      -webkit-background-origin: content-box;
      background-origin: content-box;
      -webkit-background-clip: content-box;
      background-clip: content-box;
      background-position: left top; }

/* line 56, css/partials/_layout.scss */
header.header {
  background-color: #85c2de;
  height: 48px;
  padding: 0.2em 0;
  color: black; }
  /* line 15, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/bourbon/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
  header.header:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 600px) {
    /* line 56, css/partials/_layout.scss */
    header.header {
      min-height: 88px; } }
  /* line 65, css/partials/_layout.scss */
  header.header a.h1 {
    float: left;
    color: black;
    text-decoration: none;
    margin: 0.3em;
    font-size: 24px;
    font-size: 2.4rem; }
    /* line 71, css/partials/_layout.scss */
    header.header a.h1:hover {
      text-decoration: none; }
    @media (min-width: 600px) {
      /* line 65, css/partials/_layout.scss */
      header.header a.h1 {
        font-size: 32px;
        font-size: 3.2rem;
        margin: 0.6em 1em; } }
  /* line 79, css/partials/_layout.scss */
  header.header .description {
    float: left;
    margin-top: 1.5em;
    width: 200px;
    line-height: 1.2em;
    font-style: italic;
    font-size: 14px;
    font-size: 1.4rem; }
  /* line 87, css/partials/_layout.scss */
  header.header #searchform {
    width: 23.61111%;
    float: right;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 1.2em; }
    /* line 91, css/partials/_layout.scss */
    header.header #searchform #s {
      border-color: #3f3f3f; }

/* line 99, css/partials/_layout.scss */
.logo {
  float: left;
  width: 48px;
  height: 52px; }
  /* line 103, css/partials/_layout.scss */
  .logo svg {
    width: 100%;
    height: auto; }
  @media (min-width: 600px) {
    /* line 99, css/partials/_layout.scss */
    .logo {
      width: 75px;
      height: 82px; } }

/* line 113, css/partials/_layout.scss */
.header-image {
  background-color: #222222;
  text-align: center; }
  @media (min-width: 1650px) {
    /* line 116, css/partials/_layout.scss */
    .header-image img {
      width: 100%;
      max-width: 1650px; } }

/* line 126, css/partials/_layout.scss */
#content {
  padding: 3em 0; }

@media (min-width: 768px) {
  /* line 131, css/partials/_layout.scss */
  .page-sidebar {
    width: 48.61111%;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-left: 9.02778%; } }

/* line 139, css/partials/_layout.scss */
.page-full {
  width: 98.61111%;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  clear: both; }
  /* line 15, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/bourbon/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
  .page-full:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 768px) {
  /* line 145, css/partials/_layout.scss */
  aside.sidebar {
    width: 31.94444%;
    float: right;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-left: 9.02778%; } }
/* line 151, css/partials/_layout.scss */
aside.sidebar ul {
  list-style: none; }

/* line 156, css/partials/_layout.scss */
.quick-link-buttons {
  display: block;
  width: 45.83333%;
  float: left;
  margin-left: 2.08333%;
  margin-right: 2.08333%;
  background-color: #174345;
  color: white;
  padding: 0.5em;
  font-family: 'Helvetica Neue Bold Condensed', 'Arial Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.8rem;
  height: 105px;
  margin-bottom: 4%;
  position: relative; }
  /* line 168, css/partials/_layout.scss */
  .quick-link-buttons:hover {
    background-color: #a62c1a;
    color: white;
    text-decoration: none; }
  /* line 173, css/partials/_layout.scss */
  .quick-link-buttons:visited {
    color: white; }
  /* line 176, css/partials/_layout.scss */
  .quick-link-buttons:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 44px 44px;
    border-color: transparent transparent #85c2de transparent; }

/* line 189, css/partials/_layout.scss */
footer.footer {
  clear: both;
  background-color: #85c2de;
  color: #174345; }
  /* line 15, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/bourbon/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
  footer.footer:after {
    content: "";
    display: table;
    clear: both; }
  /* line 194, css/partials/_layout.scss */
  footer.footer a {
    color: #174345; }

/* line 199, css/partials/_layout.scss */
.footer-phone {
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 9.02778%;
  font-size: 14px;
  font-size: 1.4rem; }

/* line 208, css/partials/_layout.scss */
.footer-email {
  margin: 0;
  padding: 0;
  width: 23.61111%;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em; }

/* line 215, css/partials/_layout.scss */
.footer-address {
  margin: 0;
  padding: 0;
  width: 48.61111%;
  float: right;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  font-size: 14px;
  font-size: 1.4rem; }

@media print {
  /* line 6, css/partials/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  @page {
    margin: 0.5cm; }
  /* line 15, css/partials/_print.scss */
  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  /* line 20, css/partials/_print.scss */
  p {
    orphans: 3;
    widows: 3; }

  /* line 24, css/partials/_print.scss */
  pre, blockquote {
    border: 1px solid #666;
    page-break-inside: avoid; }

  /* line 28, css/partials/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 31, css/partials/_print.scss */
  a, a:visited {
    text-decoration: underline; }

  /* line 34, css/partials/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 37, css/partials/_print.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 41, css/partials/_print.scss */
  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  /* line 45, css/partials/_print.scss */
  thead {
    display: table-header-group; }

  /* line 48, css/partials/_print.scss */
  tr {
    page-break-inside: avoid; } }
